@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0%;
    margin: 0%;
}
.h-full{
    height: 100vh;
    width: 100vw;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80%;
}

.inerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    width: 700px;
    height: 100px;
}

button {
    margin: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: whitesmoke;
    cursor: pointer;
    transition: border-color 0.25s;
  }